.footer-container{
   margin-top: 4%;
background-color: black;
padding: 5% 8% 1% 8%;
}
.footer-link{
   text-decoration: none !important;
   color: inherit !important;
   font-weight: bold;
   opacity: 0.8;
}