.navbar{
   z-index: 10;
   background-color: black;
}
.gradient-text{
   background: linear-gradient(to right,white, goldenrod, goldenrod); /* Replace these colors with your desired gradient stops */
   background-clip: text;
   color: transparent; /* Make the text transparent so that the gradient background shows through */ 
}
.headlink{
   text-decoration: none !important;
   color: white;
}
.headlink:hover{
   color: rgba(255, 255, 255, 0.634);
}
.btn{
   margin-top: -1.5% !important;
}
.subscribe-box{
   border-width: 2px; /* Set your desired border width */
  border-style: solid;
   border-image: linear-gradient(to right, white,goldenrod,white); /* Replace these colors with your desired gradient stops */
   border-image-slice: 1;
}
.more-box{
   z-index: 8;
   margin-top: 90px;
   width: 35%;
   left: 50%;
   justify-content: space-around;
}
.more-box ul li{
   list-style: none;
   padding: 2%;
   margin-left: 2%;
   margin-right: 2%;
}
.more-box ul li:hover{
   background-color: rgb(220, 53, 69,0.8);
   cursor:pointer;
}
.subbox p{
   display: none;
}
.headAtEnd{
   display: none;
   position: fixed;
   justify-content:space-around;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   z-index: 9;
   padding-top: 3%;
   padding-bottom: 2%;
}
/* ***************************mobile responsive************************************************* */


@media screen and (max-width:740px){
.navbox-first{
   display: none ;
}
.navbox-second div:nth-child(2){
 display: none;
}
.navbox-second div:nth-child(3){
   width: 50% !important;
  }
  .subbox input{
   width: 50% !important;
  }
  .subbox p{
   display: block;
  }
  .gradient-text{
   display: none;
  }
  .navbox-second div:nth-child(1){
   border: 0;
  }
  .headAtEnd{
   display: flex;
  }
}