.news-details-body{
padding-top: 5%;
/* margin-left: 7%;
margin-right:7%; */
}
.news-details-img{
   width: 100%;
   height: 500px;
   z-index: 0; 
   text-align: center;
}
.news-details-img img{
   height: 500px;
   width: 100%;
}
.absolute-head-news ul li{
   list-style: none !important;
   cursor: pointer;
}
.absolute-head-news{
   backdrop-filter: brightness(30%);
   height: 500px;
}
.absolute-head-news ul{
   padding-top: 15%; 
}