.popular-body{
    margin-left: 10%;
   margin-right: 10%; 
}
.popular-contents{
   display: grid;
   grid-template-columns: 25% 25% 25% 25%;
   gap: 2%;
   padding: 10% 3% 5% 3%;
   overflow: hidden;
}
.popular-image{
   /* object-fit: cover; */
   aspect-ratio: 1 / 1;
   height: 100%;
   width: 100%;
}
.popular-image:hover{
   opacity: 0.5;
   box-shadow: 0 0 50px rgb(220, 53, 69,0.9);
}
.popular-image-container{
   position: relative;
   height: 500px;
   z-index: 0; 
   width: 100%;
   /* padding-left: 7%;
   padding-right: 7%; */
   padding-bottom: 25%;
   text-align: center; 
}
.btn-container ul{
   justify-content: center;
}
.btn-container ul li{
   list-style: none;
}
.movie-genre{
   padding-top: 14%;
}
.carausel-btn{
   border: 2px solid white;
}
.carausel-btn:hover{
   background-color: white !important;
   color: #021c2a !important;
}
.nomovie{
grid-column-start: 1;
grid-column-end: 5;
}
.search-none{
   margin-top: 30%;
   margin-bottom: 20%;
}