.popular-body{
    margin-left: 10%;
   margin-right: 10%; 
}
.popular-contents{
   display: grid;
   grid-template-columns: 25% 25% 25% 25%;
   gap: 2%;
   padding: 10% 3% 5% 3%;
   overflow: hidden;
}
.popular-image{
   object-fit: cover;
   height: 100%;
   width: 100%;
}
.popular-image:hover{
   opacity: 0.5;
   box-shadow: 0 0 50px rgba(0,0,0,0.5);
}
.popular-image-container{
   position: relative;
   height: 500px;
   z-index: 0; 
   width: 100%;
   /* padding-left: 7%;
   padding-right: 7%; */
   padding-bottom: 25%;
   text-align: center; 
}
.btn-container ul{
   justify-content: center;
}
.btn-container ul li{
   list-style: none;
}